# Banco
DATABASE_URL=mysql://root:senha@127.0.0.1:3306/escala_medica

# Aplicacao
PORT=3000
JWT_SECRET=troque-esta-chave-super-forte

# Login local
LOCAL_LOGIN_USERNAME=admin
LOCAL_LOGIN_PASSWORD=sonhen
LOCAL_SESSION_APP_ID=local-auth

# Integracoes opcionais
OAUTH_SERVER_URL=
VITE_OAUTH_PORTAL_URL=
VITE_APP_ID=
OWNER_OPEN_ID=
VITE_ANALYTICS_ENDPOINT=
VITE_ANALYTICS_WEBSITE_ID=
